body {
    padding-top: 60px;
    background-image: url(images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



#navbar{
    background: black;
    padding: 10px 0px;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}
#navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar-left li,
.navbar-right li {
    margin: 0 10px;
}
#navbar a:hover {
    background: linear-gradient(90deg, rgb(0,191,255), rgb(255,0,191));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.logo{
    border-radius: 50%;
}

.cabeca{
    background-image: url("images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-content:end;
    height: 300px;
    width: fit-content;
}
.cabeca h1{
    color: white;
    text-align: right;
    font-size: 40px;
    margin-top: 20px;
    margin-right: 20px;
}